
@{
    ViewData["Title"] = "AboutUs";
    ViewData["ActiveLi"] = "AboutUsli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="header-title" style="background-image:url('../../client/assets/images/map2.jpg');">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>About Diverse®</h1>
            <!-- <h1>حول Diverse®</h1> -->
            <p class="title-text">"We are committed to delivering cutting-edge ICT solutions that drive business success. With a customer-centric approach, we strive to exceed expectations and empower our clients to thrive in the digital era."</p>
            <!-- <p class="title-text">"نحن ملتزمون بتقديم حلول تكنولوجيا المعلومات والاتصالات المتطورة التي تدفع نجاح الأعمال. من خلال نهج يركز على العملاء ، نسعى جاهدين لتجاوز التوقعات وتمكين عملائنا من الازدهار في العصر الرقمي."</p> -->
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content" id="pt-60">
        <div class="row vertical-row">
            <div class=" col-sm-12">
                <h1 class="text-xl text-color bold">Our Mission</h1>
                <p class="bold">“Is to become the premium business solutions provider for ICT market in Europe, Middle East, and Africa”</p>
                <!-- <p class="bold">"أن تصبح المزود المتميز لحلول الأعمال لسوق تكنولوجيا المعلومات والاتصالات في أوروبا والشرق الأوسط وأفريقيا"</p> -->
                <hr class="margin">

                <h1 class="text-xl text-color bold">Our Vision</h1>
                <p class="bold">“To provide our customers with quick, secure, reliable and high-quality ICT solutions, services, and consultancies that accelerate and sustain success for their businesses and increase end-customer satisfaction”</p>
                <!-- <p class="bold">"لتزويد عملائنا بحلول وخدمات واستشارات لتكنولوجيا المعلومات والاتصالات سريعة وآمنة وموثوقة وعالية الجودة من شأنها تسريع واستدامة نجاح أعمالهم وزيادة رضا العملاء النهائيين"</p> -->
                <hr class="margin">

                <h1 class="text-xl text-color bold">Our Values</h1>
                <p class="bold">“Earn customer loyalty , Pursue best practices , Improve service levels, Be reliable & responsive, Enable customers to better manage costs, Minimize risks associated with outsourcing, Adapt to varying business demands”</p>
                <!-- <p class="bold">"كسب ولاء العملاء ، واتباع أفضل الممارسات ، وتحسين مستويات الخدمة ، والتحلي بالثقة والاستجابة ، وتمكين العملاء من إدارة التكاليف بشكل أفضل ، وتقليل المخاطر المرتبطة بالاستعانة بمصادر خارجية ، والتكيف مع متطلبات الأعمال المتنوعة"</p> -->
                <hr class="margin">

                <h1 class="text-xl text-color bold">Our Stellar Team</h1>
                <p class="bold">“Earn customer loyalty , Pursue best practices , Improve service levels, Be reliable & responsive, Enable customers to better manage costs, Minimize risks associated with outsourcing, Adapt to varying business demands”</p>
                <!-- <p class="bold">"كسب ولاء العملاء ، واتباع أفضل الممارسات ، وتحسين مستويات الخدمة ، والتحلي بالثقة والاستجابة ، وتمكين العملاء من إدارة التكاليف بشكل أفضل ، وتقليل المخاطر المرتبطة بالاستعانة بمصادر خارجية ، والتكيف مع متطلبات الأعمال المتنوعة"</p> -->
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item text-center">
    <div class="container content" id="pt-10">
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>Ayman Saad</a></h2>
                    <!-- <h2><a>ايمن سعد</a></h2> -->
                    <p>CEO - Chief Executive Officer</p>
                    <!-- <p>الرئيس التنفيذي</p> -->
                    <hr>
                    <p id="primary-text">
                        Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt, augue consectetuer delectus! Molestias? Illum quas deleniti
                    </p>
                </div>
            </div>
        </div>
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>Ayman Saad</a></h2>
                    <p>CEO - Chief Executive Officer</p>
                    <hr>
                    <p id="primary-text">
                        Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt, augue consectetuer delectus! Molestias? Illum quas deleniti
                    </p>
                </div>
            </div>
        </div>
        <div class="advs-box advs-box-side-img advs-box-blog boxed white project" data-anima="scale-rotate" data-trigger="hover">
            <div class="row projectC">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="img-box img-scale-up">
                        <img class="anima" src="../../client/assets/images/profile.jpg" alt="profile pic" />
                    </a>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a>Ayman Saad</a></h2>
                    <p>CEO - Chief Executive Officer</p>
                    <hr>
                    <p id="primary-text">
                        Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt, augue consectetuer delectus! Molestias? Illum quas deleniti
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
