
@{
    ViewData["Title"] = "CyberSecurity";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["ActiveLi"] = "solutionsli";

}

<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl">Cyber Security Solutions</h4>
                <div class="tag-row">
                    <span><i class="fa fa-bookmark"></i> <a asp-action="Solutions">Solutions</a></span>
                    <span><i class="fa-solid fa-shield-halved"></i> <a href="#">Cyber Security</a></span>
                </div>
                <hr class="space xs" />
                <img src="~/client/assets/images/Untitled Project (8).jpg" alt="">
                <hr class="space" />
                <div class="collapse-box" data-height="290">
                    <div class="panel">
                        <p>
                            To improve the organization's security posture, vulnerability analyses and penetration tests are both necessary.
                        </p>
                        <p>
                            Penetration testing mimics actual attacks while authorized attempts are made to exploit vulnerabilities in order to uncover holes before malicious actors may exploit them. Vulnerability assessment, on the other hand, carefully investigates systems and networks to classify potential faults, prioritizing risks and providing valuable information for corrective steps.
                        </p>
                        <p>
                            Diverse provides a full range of cybersecurity options to assist you safeguard your network from intrusions that could compromise your data.
                        </p>
                    </div>
                    
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Web, Email & App Security Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Web, email, and app security solutions are designed to protect individuals, businesses, and organizations from various threats and vulnerabilities in the digital world.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">SIEM & IR Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">SIEM (Security Information and Event Management) and IR (Incident Response) solutions are critical components of an organization's cybersecurity strategy.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Data Security Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Data security solutions are designed to protect sensitive information from unauthorized access, disclosure, alteration, or destruction.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Endpoint protection solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Endpoint protection solutions, also known as endpoint security solutions or endpoint protection platforms (EPPs), are designed to secure individual devices, such as desktops, laptops, servers, and mobile devices, from various cyber threats and attacks.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Penetration Testing & vulnerability Assessment</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Penetration testing and vulnerability assessment are two essential practices in the field of cybersecurity. </span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>