
@{
    ViewData["Title"] = "DataCenter";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["ActiveLi"] = "solutionsli";

}
<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl"> Data Center Division</h4>
                <div class="tag-row">
                    <span><i class="fa fa-bookmark"></i> <a>Solutions</a></span>
                    <span><i class="fa-solid fa-server"></i> <a>Data Center</a></span>
                </div>
                <hr class="space xs" />
                <img src="~/client/assets/images/Untitled Project (11).jpg" alt="">
                <hr class="space" />
                <div class="collapse-box" data-height="240">
                    <div class="panel">
                        <p>
                            Our comprehensive Backup solutions are essential tools for safeguarding data against loss or corruption. They involve specialized software that manages the backup process, enabling the scheduling, selection, and encryption of data to be backed up. Backup storage can be local devices, network-attached storage (NAS), tape drives, or cloud-based services. Different backup methods, such as full, incremental, differential, and continuous data protection (CDP), are employed to capture and store data efficiently. Backup solutions offer flexible scheduling options and retention policies to automate backups and ensure data availability within specified timeframes. They also incorporate disaster recovery features like bare-metal recovery or virtual machine recovery to restore systems after major incidents.
                        </p>
                        <p>
                            Also, Hyper-converged solutions combine computing, storage, and networking resources into an integrated system. Managed through software-defined platforms, they simplify management, provide scalability, and offer cost efficiency. These solutions feature compute nodes, virtualized storage, software-defined storage (SDS), networking, and centralized management. Benefits include simplified administration, scalability, flexibility, cost efficiency, high availability, and resilience. Hyper-converged solutions are particularly suitable for virtualized environments, small-to-medium-sized businesses, and remote offices.
                        </p>
                        <p>
                            Lastly, High-end compute nodes and farms are powerful computing infrastructures used in fields like scientific research, data analysis, and artificial intelligence. They consist of server-grade machines with advanced processors, ample memory, and fast storage. Interconnected through high-speed networks, these nodes work together in parallel to handle compute-intensive workloads efficiently. High-end compute farms are managed by specialized software that allocates tasks and resources for optimal utilization.
                        </p>
                    </div>
                    <div class="text-center">
                        <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Read all">
                            <b>Read all</b> <span class="caret"></span>
                        </a>
                    </div>
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">High end compute nodes and farms</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">High-end compute nodes and farms refer to advanced computing infrastructure designed to handle large-scale, compute-intensive workloads.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Mid-Range and High-End storage solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Mid-range and high-end storage solutions are designed to provide robust and scalable storage capabilities to meet the demanding needs of organizations with large data volumes and performance requirements</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Hyper-Converged solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            Hyper-converged solutions are a type of infrastructure architecture that combines computing, storage, and networking resources into a single integrated system.
                        </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Backup Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Backup solutions are designed to create copies of data and store them in a separate location or medium to protect against data loss, accidental deletion, hardware failures, or disasters. </span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>
