
@{
    ViewData["Title"] = "DataCenter";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["ActiveLi"] = "solutionsli";

}
<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl">Data Center Solutions</h4>
                <!-- <h4 class="text-xl">خدمة التنفيذ</h4> -->
                <div class="tag-row">
                    <span><i class="fa fa-bookmark" aria-hidden="true"></i> <a asp-for="Solutions">Solutions</a></span>
                    <!-- <span><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="services.html">خدماتنا</a></span> -->
                    <span><i class="fa-solid fa-screwdriver-wrench fa-l"></i> Data Center</span>
                    <!-- <span><i class="fa-solid fa-screwdriver-wrench fa-l"></i> التنفيذ</span> -->
                </div>
                <img src="~/client/assets/images/Untitled Project (11).jpg" alt="implementation img">
                <hr class="space xs" />
                <div class="collapse-box" data-height="240">
                    <div class="panel">
                        <p id="rm-hv">
                            Diverse offers cutting-edge IT datacenter solutions for modern businesses. With top-of-the-line servers, storage, virtualization software, and backup, we ensure enhanced performance and scalability. Our expert engineers design tailor-made solutions, optimizing resource utilization and reducing costs. Seamless integration guarantees efficient data management, helping clients stay ahead in today's competitive landscape. Embracing the latest technology, our solutions empower businesses with productivity, flexibility, and security, driving success in the digital age.
                        </p>
                    </div>
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">High end compute nodes and farms</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Experience unmatched performance and efficiency with our high-end compute nodes and farms. As a leading system integrator, we deliver cutting-edge solutions, offering unparalleled processing power and scalability to meet modern businesses' most demanding needs.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Mission Critical, low and midrange storage solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Discover our storage solutions - Low-end for cost-effectiveness, Mid-range for balanced performance, and High-end for mission-critical applications. Trust our expertise for optimal data management and accessibility, powering your success.</span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Hyper-Converged solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            Discover seamless integration with our Hyper-Converged solutions - a powerful, all-in-one platform combining computing, storage, and virtualization. Simplify management, scale effortlessly, boost performance, and cut costs.
                        </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Backup and archiving Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Ensure data security with our Backup and Archiving Solutions. Trust seamless recovery, minimal downtime, and peace of mind. Focus on your business while we protect your data. </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Professional Service</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            We offer skilled professionals to design customized data center solutions that cater to each organization's unique needs, ensuring security, efficiency, and budget considerations are met.
                        </span>
                    </div>
                </div>
                <div class="feature feature-no-margin">
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-circle fa-xs"></i>
                        </div>
                        <span class="f-desc">
                            Management Technologies.
                        </span>
                    </div>
                </div>
                <div class="feature feature-no-margin">
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-circle fa-xs"></i>
                        </div>
                        <span class="f-desc">
                            Datacenter Preparation
                        </span>
                    </div>
                </div>
                <div class="feature feature-no-margin">
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-circle fa-xs"></i>
                        </div>
                        <span class="f-desc">
                            Power Technologies
                        </span>
                    </div>
                </div>
                <div class="feature feature-no-margin">
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-circle fa-xs"></i>
                        </div>
                        <span class="f-desc">
                            Cooling Technologies
                        </span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>
