
@{
    ViewData["Title"] = "Networking";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["ActiveLi"] = "solutionsli";

}

<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl"> Networking Soloutions</h4>
                <div class="tag-row">
                    <span><i class="fa fa-bookmark"></i> <a asp-action="Solutions">Solutions</a></span>
                    <span><i class="fa-solid fa-network-wired"></i> <a>Networking</a></span>
                </div>
                <hr class="space xs" />
                <img src="~/client/assets/images/1026.jpg" alt="">
                <hr class="space" />
                <div class="collapse-box" data-height="240">
                    <div class="panel">
                        <p>
                            Comprehensive Wireless solutions encompass technologies like Wi-Fi and cellular networks, wireless communication protocols such as Bluetooth and Zigbee, and security measures like encryption and authentication. They provide wireless connectivity, enabling devices to connect to the internet and local networks without physical connections. Security measures include encryption, authentication, firewalls, and intrusion detection to protect against unauthorized access and threats.
                        </p>
                        <p>
                            Next Generation Firewalls (NGFWs) combine traditional firewall capabilities with advanced features like application awareness, intrusion prevention, deep packet inspection, SSL/TLS decryption, advanced threat prevention, and centralized management. They offer granular control over application usage and user-based access policies. NGFWs identify and block known and emerging threats, including those hidden within encrypted traffic.
                        </p>
                        <p>
                            Load balancers distribute network traffic across multiple servers, ensuring optimal utilization, high availability, and scalability. They use algorithms like round-robin or least connections to evenly distribute traffic. Load balancers enhance availability by redirecting traffic to healthy servers during failure or overload. They facilitate scalability by allowing the addition or removal of servers based on demand.
                        </p>

                    </div>
                    <div class="text-center">
                        <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Read all">
                            <b>Read all</b> <span class="caret"></span>
                        </a>
                    </div>
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Wireless Solutions</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            Wireless solutions refer to technologies and systems that enable the transmission of data and communication without the need for physical wired connections. These solutions utilize wireless signals.
                        </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Routers & Switches</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            Routers and switches are two essential networking devices that play distinct roles in the functioning of computer networks. They are often used together to create complex and efficient network infrastructures.
                        </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Load Balancers</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">
                            Load balancers are networking devices or software solutions that distribute network traffic across multiple servers or resources to ensure optimal utilization, maximize performance, and prevent overload.
                        </span>
                    </div>
                </div>
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title"> Next Generation Firewalls</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Next Generation Firewalls (NGFWs) are advanced network security devices that combine traditional firewall capabilities with additional security features and intelligence</span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>
