
@{
    ViewData["Title"] = "OurClients";
    ViewData["ActiveLi"] = "Projectsli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<div class="section-empty bg-C">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6">
                <div class="title-base text-left">
                    <hr />
                    <h2 class="title">Key Customers</h2>
                    <!-- <h2 class="title">العملاء الرئيسيون</h2> -->
                    <p>Discover the diverse range of industry-leading organizations that have chosen us as their trusted partner for cutting-edge ICT solutions and services.</p>
                    <!-- <p>اكتشف المجموعة المتنوعة من المؤسسات الرائدة في الصناعة التي اختارتنا كشريك موثوق به لحلول وخدمات تكنولوجيا المعلومات والاتصالات المتطورة.</p> -->
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../client/assets/images/clients/clients-header-bg.jpg" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="section-empty section-item text-center bg-C">
    <div class="maso-list gallery container content">
        <div class="maso-box row" data-lightbox-anima="fade-top">
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/WE logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">Telecom Egypt</a></h2>
                        <p class="niche-box-content">
                            Empowering digital connectivity and communication in Egypt with advanced telecommunication solutions.
                        </p>
                        <!-- <p class="niche-box-content">
                            تمكين الاتصالات الرقمية والتواصل في مصر من خلال حلول الاتصالات المتقدمة.
                        </p> -->
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/Orange logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">Orange Egypt</a></h2>
                        <p class="niche-box-content">
                            Enhancing lives and businesses through seamless connectivity and innovative services.
                        </p>
                        <!-- <p class="niche-box-content">
                            تعزيز الحياة والأعمال من خلال التواصل السلس والخدمات المبتكرة.
                        </p> -->
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/vd logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">Vodafone</a></h2>
                        <p class="niche-box-content">
                            Enabling Vodafone's digital innovation and superior customer experiences through ICT solutions.
                        </p>
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/NB logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">National Bank of Egypt</a></h2>
                        <p class="niche-box-content">
                            Providing comprehensive banking services, supporting economic growth and financial inclusion.
                        </p>
                        <!-- <p class="niche-box-content">
                            توفير خدمات مصرفية شاملة، ودعم النمو الاقتصادي والشمول المالي.
                        </p> -->
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/MOE logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">Ministry of education</a></h2>
                        <p class="niche-box-content">
                            Shaping Egypt's education system and promoting quality learning for all students.
                        </p>
                        <!-- <p class="niche-box-content">
                            تشكيل نظام التعليم في مصر وتعزيز التعلم ذو الجودة لجميع الطلاب.
                        </p> -->
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>
            <div data-sort="1" class="maso-item col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="../../client/assets/images/clients/ET logo.jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a href="#">Etisalat</a></h2>
                        <p class="niche-box-content">
                            Enabling digital transformation and connectivity for individuals and businesses in Egypt.
                        </p>
                        <!-- <p class="niche-box-content">
                            تمكين التحول الرقمي والتواصل للأفراد والشركات في مصر.
                        </p> -->
                        <a class="btn btn-sm" href="#">Explore Projects</a>
                        <!-- <a class="btn btn-sm" href="#">اكتشف المشاريع</a> -->
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <div class="list-nav">
            <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="3">Load More <i class="fa fa-arrow-down"></i></a>
            <!-- <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="3">تحميل المزيد <i class="fa fa-arrow-down"></i></a> -->
        </div>
    </div>
</div>

<div class="section-empty section-item">
    <div class="container content pt-2 pb-0 mb-7">
        <div class="p-20P">
            <h2 class="f-b mb-4 text-center">Become our client</h2>
            <!-- <h2 class="f-b mb-4 text-center">كن عميلنا</h2> -->
            <div class="text-primary text-center">
                <p>
                    Ready to join our growing family of satisfied clients? Take the first step towards success by becoming our valued client.
                    Experience top-notch ICT solutions tailored to your business needs, exceptional customer service, and a partnership built on trust and excellence. Let us help
                    you unlock your full potential and drive your business forward. Contact us today to begin your journey with us and become part of our success story.
                </p>
                <!-- <p> هل أنت مستعد للانضمام إلى عائلتنا المتنامية من العملاء الراضين؟ اتخذ الخطوة الأولى نحو النجاح من خلال أن تصبح عميلنا الكرام. جرب حلول تكنولوجيا المعلومات والاتصالات من الدرجة الأولى المصممة خصيصًا لاحتياجات عملك
                    ، وخدمة عملاء استثنائية ، وشراكة مبنية على الثقة والتميز. دعنا نساعدك في إطلاق العنان لإمكانياتك الكاملة ودفع عملك إلى الأمام. اتصل بنا اليوم لتبدأ رحلتك معنا وتصبح جزءًا من قصة نجاحنا.
                </p> -->
            </div>
            <hr class="space m">
            <form action="" class="form-box form-ajax" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <p>Name</p>
                        <!-- <p>اسمك</p> -->
                        <input id="name" name="name" placeholder="" type="text" class="form-control form-value in-bg" required="">
                    </div>
                    <div class="col-md-4">
                        <p>Email</p>
                        <!-- <p>بريد إلكتروني</p> -->
                        <input id="email" name="email" placeholder="" type="email" class="form-control form-value in-bg" required="">
                    </div>
                    <div class="col-md-4">
                        <p>Phone</p>
                        <!-- <p>رقم التليفون</p> -->
                        <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value in-bg" required>
                    </div>
                </div>
                <hr class="space s">
                <div class="row">
                    <div class="col-md-12">
                        <p>Your message</p>
                        <!-- <p>رسالتك</p> -->
                        <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value in-bg" required=""></textarea>
                        <hr class="space mm">
                        <a class="circle-button btn-sm btn"><i class="fa fa-send-o" aria-hidden="true"></i>Send message</a>
                        <!-- <a class="circle-button btn-sm btn"><i class="fa fa-send-o" aria-hidden="true"></i>أرسل رسالة</a> -->
                    </div>
                </div>
                <!-- <div class="success-box">
                    <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                </div>
                <div class="error-box">
                    <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                </div> -->
            </form>

        </div>
    </div>
</div>