
@{
    ViewData["Title"] = "Service1";
    ViewData["ActiveLi"] = "servicesli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

 

<link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/flexslider/flexslider.css">
<link rel="stylesheet" href="~/client/assets/styles/HTWF/css/image-box.css">
<link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/magnific-popup.css">
<link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.css">
<link rel="stylesheet" href="~/client/assets/styles/css/skin.css">


<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl">Cybersecurity and Information Security</h4>
                <hr class="space" />
                <img src="../../client/assets/images/Services/CyberSecurity.png" alt="">
                <hr class="space" />
                <div class="collapse-box" data-height="240">
                    <div class="panel">
                        <p>
                            Our comprehensive Cybersecurity and Information Security Service is designed to protect your organization's valuable data, systems, and networks
                            from ever-evolving cyber threats. With the increasing sophistication and frequency of Cyber attacks,
                            it is crucial to have a robust security strategy in place to safeguard your sensitive information.
                        </p>
                        <p>
                            Our team of experienced security professionals utilizes cutting-edge technologies and industry best practices to identify vulnerabilities, mitigate risks, and implement
                            robust security measures. We offer a holistic approach to Cybersecurity, addressing both external and internal threats, ensuring the confidentiality, integrity, and availability of your critical assets.
                        </p>
                        <p>
                            With our Cybersecurity and Information Security Service, you can have peace of mind knowing that your organization's digital assets are
                            protected against emerging threats and that you are equipped with the necessary security measures to mitigate risks and maintain business continuity.
                        </p>
                    </div>
                    <div class="text-center">
                        <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Read all">
                            <b>Read all</b> <span class="caret"></span>
                        </a>
                    </div>
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Threat Detection and Prevention:</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Proactively monitor and detect potential threats, leveraging advanced threat intelligence and analytics to prevent attacks before they can cause harm.</span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>
<script src='~/client/assets/styles/HTWF/scripts/jquery.progress-counter.js'></script>
<script src="~/client/assets/styles/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
<!-- ---------- -->
<link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/font-awesome/css/font-awesome.min.css">
<script src="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.js"></script>