
@{
    ViewData["Title"] = "Our Solutions";
    ViewData["ActiveLi"] = "solutionsli";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@*@section Styles{
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/css/image-box.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.css">
    <link rel="stylesheet" href="~/client/assets/styles/css/skin.css">
}*@
<div class="header-title" style="background-image:url('../../client/assets/images/servicesbg.jpg');">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1 class="title home-title index-text-color">Our Solutions</h1>
            <!-- <h1 style="color: aliceblue;">حلولنا</h1> -->
            <p class="title-text" style="color: aliceblue;">Discover Our Diversity in the Range of Solutions, Combined With Top Technologies in the Modern World.</p>
            <!-- <p class="title-text" style="color: aliceblue;">اكتشف مجموعتنا الواسعة من خدمات تكنولوجيا المعلومات والاتصالات المتطورة ، المصممة لتمكين الشركات ودفع التحول الرقمي.</p> -->
        </div>
    </div>
</div>

<div class="section-empty section-item text-center">
    <div class="container content pt-2 pb-0 mb-7">
        <div class="row mb-7">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="~/client/assets/images/Untitled Project (9).jpg" alt=""> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a>Networking<br class="disp-b"> Division</a></h2>
                        <!-- <h2 class="txt-center"><a href="#">تصميم البنية التحتية للشبكة</a></h2> -->
                        <p class="niche-box-content">
                            Offering cutting-edge wired and wireless connectivity solutions delivered by highly qualified Engineers from world-leading technology vendors.
                        </p>
                        <!-- <p class="niche-box-content">
                        حلول مصممة للاتصال السلس والأداء الأمثل.
                    </p> -->
                        <a class="btn btn-sm" asp-action="Networking" asp-controller="Home">Read more</a>
                        <!-- <a class="btn btn-sm" href="#">قراءة المزيد </a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="~/client/assets/images/Untitled Project (8).jpg" alt="" aid="0.4605169796458808" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a>Cybersecurity <br class="disp-b"> Division</a></h2>
                        <!-- <h2 class="txt-center"><a href="#">الأمن السيبراني وأمن المعلومات</a></h2> -->
                        <p class="niche-box-content">
                            Providing comprehensive security solutions that feature high performance and rugged defense for the applications, data and users of its customers.
                        </p>
                        <!-- <p class="niche-box-content">
                        إجراءات قوية لحماية البيانات والحماية من التهديدات.
                    </p> -->
                        <a class="btn btn-sm" asp-action="CyberSecurity" asp-controller="Home">Read more</a>
                        <!-- <a class="btn btn-sm" href="#">قراءة المزيد </a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse card" data-anima="scale-rotate" data-trigger="hover">
                    <a class="img-box"><img class="anima" src="~/client/assets/images/812.jpg" alt="" aid="0.3555198752028368" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"> </a>
                    <div class="advs-box-content">
                        <h2 class="txt-center"><a>Data Center <br class="disp-b"> Division</a></h2>
                        <!-- <h2 class="txt-center"><a href="#">حلول الحوسبة السحابية</a></h2> -->
                        <p class="niche-box-content">
                            Extensive compute power and extended storage along with proper backup and archiving solutions are key to today’s organizations’ efficiency and competitive edge.
                        </p>
                        <!-- <p class="niche-box-content">
                        أطلق العنان لإمكانيات الحوسبة السحابية لتحويل عملك.
                    </p> -->
                        <a class="btn btn-sm" asp-action="DataCenter" asp-controller="Home">Read more</a>
                        <!-- <a class="btn btn-sm" href="#">قراءة المزيد </a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="advs-box advs-box-side-img advs-box-blog boxed Bwhite">
            <div class="row service">
                <div class="col-md-4" id="ls">
                    <div class="slider">
                        <div class="slide">
                            <img src="~/client/assets/images/Services/consulting-bg.jpg" alt="Photo1" />
                        </div>
                        <div class="slide">
                            <img src="~/client/assets/images/Services/Clients-Header-bg (1).jpg" alt="Photo3" />
                        </div>
                        <div class="slide">
                            <img src="~/client/assets/images/Services/support.jpg" alt="Photo2" />
                        </div>
                        <button class="btn-slide prev"><i class="fa-solid fa-chevron-left fa-2xl offwhite"></i></button>
                        <button class="btn-slide next"><i class="fa-solid fa-chevron-right fa-2xl offwhite"></i></button>
                    </div>
                </div>
                <div class="col-md-8 text-primary">
                    <h2><a id="light">Customized Services for Your Business</a></h2>
                    <!-- <h2><a id="light">حلول مخصصة لعملك</a></h2> -->
                    <div class="flex-container">
                        <div class="flex-item">
                            <i class="fa-solid fa-circle-info fa-2xl"></i>
                            <span class="ml-2">Consultancy</span>
                            <!-- <span class="ml-2">السحابه</span> -->
                        </div>
                        <div class="flex-item">
                            <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
                            <span class="ml-2">Implementation</span>
                            <!-- <span class="ml-2">الشبكات</span> -->
                        </div>
                        <div class="flex-item">
                            <i class="fa-solid fa-headset fa-2xl"></i>
                            <span class="ml-2">Support</span>
                            <!-- <span class="ml-2">إنترنت الأشياء</span> -->
                        </div>
                    </div>
                    <p>
                        Our wide range of cutting-edge ICT services is tailored to empower businesses and drive digital transformation by providing innovative solutions, advanced technologies, and strategic guidance. Whether your organization is seeking to enhance its cybersecurity defenses, optimize its IT infrastructure, leverage cloud computing capabilities, or embark on digital initiatives, our comprehensive ICT services are designed to meet your unique needs and propel your business forward in the digital age.
                    </p>
                    <!-- <p>
                اختبر قوة حلولنا المصممة خصيصًا لدعم نمو أعمالك وتعظيم ميزتك التنافسية. من خلال الخبرة في البنية التحتية للشبكة والأمن السيبراني والخدمات السحابية وغير ذلك ، نقدم حلولًا مبتكرة وقابلة للتطوير تقود التحول الرقمي. شارك معنا لإطلاق العنان لإمكانيات جديدة والبقاء في الطليعة في مشهد الأعمال الديناميكي اليوم.
            </p> -->
                    <a class="btn btn-sm" id="btn-a"  asp-action="Services" asp-controller="Home"><i class="fa-solid fa-circle-info fa-xl faa"></i>Read more</a>
                    <!-- <a class="btn btn-sm" id="btn-a" href="project.html"><i class="fa-solid fa-circle-info fa-xl faa"></i>قراءة المزيد</a> -->
                </div>
            </div>
        </div>
         

        <h2 id="title-h" class="mb-6">Services related <br> FAQs</h2>

        <div class="list-group accordion-list">
            <div class="list-group-item active-panel">
                <a href="#" class="active"> What services does Diverse company offer?</a>
                <div class="panel" style="display: block; overflow: hidden; height: auto;">
                    <div class="inner">
                        Diverse offer a range of services, including system design, development, implementation,
                        integration, testing, maintenance, and support. We also provide consultancy, project management, and training services related to the integrated systems.
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <a href="#">What industries do Diverse serve?</a>
                <div class="panel" style="display: none; overflow: hidden;">
                    <div class="inner">
                        Diverse serve a wide range of industries, including manufacturing, healthcare, transportation, energy, telecommunications, finance, retail, and many others.
                        They adapt their solutions to meet the specific needs and challenges of each industry.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-bg-image bg-top cr-bg">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-center text-center cdcr">
                <div class="bc">
                    <h4>Deployment phases</h4>
                    <p>
                        Methodical phases, from planning to implementation and training, ensure a seamless
                        and successful deployment of ICT solutions, promoting integration and user proficiency.
                    </p>
                    <hr class="space">
                </div>
                <div class="row" data-anima="" data-timeline="asc">
                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.7979026468847672">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell mb-4">
                                <img src="~/client/assets/images/Services/preparation1.png" alt="">
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Planning and Preparation</label>
                                <p class="text-s">Scope definition, solution exploration, stakeholder alignment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.5027059489967733">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell mb-4">
                                <img src="~/client/assets/images/Services/tools1.png" alt="">
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Design and Implemnting</label>
                                <p class="text-s">Solution architecture, deployment, functionality expansion</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 boxed-inverse shadow-1 anima fade-bottom p-20 crcd equal-height" aid="0.6209801221459992">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell mb-4">
                                <img src="~/client/assets/images/Services/maintenance1.png" alt=""/>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Operation and Optimization</label>
                                <p class="text-s">Maintain solution, resolve issues, optimize performance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@section Scripts{
    <script src='~/client/assets/styles/HTWF/scripts/jquery.progress-counter.js'></script>
    <script src="~/client/assets/styles/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    
    <link rel="stylesheet" href="~/client/assets/styles/HTWF/scripts/font-awesome/css/font-awesome.min.css">
    <script src="~/client/assets/styles/HTWF/scripts/jquery.flipster.min.js"></script>-->
    @*<script src="~/client/assets/styles/HTWF/scripts/jquery.min.js"></script>*@
<!--}-->