
@{
    ViewData["Title"] = "support";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["ActiveLi"] = "servicesli";
}

<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h4 class="text-xl" id="mb-0">Operational Support Service</h4>
                <!-- <h4 class="text-xl" id="mb-0">خدمة الدعم التشغيلي</h4> -->
                <hr class="space xs" />
                <div class="tag-row">
                    <span><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="services.html">Services</a></span>
                    <!-- <span><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="services.html">خدماتنا</a></span> -->
                    <span><i class="fa-solid fa-headset fa-xl"></i>OP Support</span>
                    <!-- <span><i class="fa-solid fa-headset fa-xl"></i>الدعم التشغيلي</span> -->
                </div>
                <!-- <hr class="space" /> -->
                <img src="~/client/assets/images/Services/op support.jpg" alt="">
                <hr class="space xs" />
                <div class="collapse-box" data-height="290">
                    <div class="panel">
                        <p>
                            Diverse Services' Operational Support Service focuses on ensuring the smooth and efficient functioning of your solution. With a proactive and responsive approach, our team identifies and resolves issues before they impact your organization. 
                        </p>
                        <p>
                            We prioritize proactive management to anticipate and address potential issues before they become critical. In cases where proactive management cannot predict failures, our reactive fault detection and correction mechanisms come into play. 
                        </p>
                        <p>
                            Our team swiftly identifies and resolves issues, providing troubleshooting support to minimize downtime and ensure uninterrupted operations.
                        </p>
       
                    </div>
                  
                </div>
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-4 col-sm-12 boxed-inverse shadow-1 p-30">
                <h4 class="titleK">Key Features</h4>
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Proactive Issue Resolution:</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">We employ proactive management techniques to identify and resolve issues before they impact your organization, ensuring smooth operations.</span>
                    </div>
                </div>
                <!-- End feature -->
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Reactive Troubleshooting:</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Our team is equipped to swiftly detect and resolve issues that require immediate attention, minimizing downtime and disruptions.</span>
                    </div>
                </div>
                <!-- End feature -->
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Continuous Performance Optimization:</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">Through the Optimize phase, we constantly evaluate and fine-tune your solution to meet performance expectations and address evolving needs.</span>
                    </div>
                </div>
                <!-- End feature -->
                <!-- Start feature -->
                <div class="feature">
                    <div class="f-f">
                        <div>
                            <i class="fa-solid fa-star fa-xl"></i>
                        </div>
                        <span class="f-title">Solution Redesign:</span>
                    </div>
                    <div class="f-f f-s">
                        <div>
                            <i class="fas fa-arrow-right fa-xl"></i>
                        </div>
                        <span class="f-desc">In cases where frequent problems or emerging requirements demand it, we offer solution redesign services to optimize performance and accommodate new applications.</span>
                    </div>
                </div>
                <!-- End feature -->
            </div>
        </div>
    </div>
</div>
